

body {
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
    position: absolute;
    text-align: center;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,212,178,1) 0%, rgba(238,174,202,1) 48%, rgba(148,187,233,1) 100%);
    
    bottom: 15%;
    height: 100%;
}

.card-container {
    margin-top: 10%;
    margin-left: 17%;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 5px;
}

.form-center {
    margin-top: 5%;
    margin-left: 27%;
    margin-bottom: -2%;
}

.form-check-center {
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: -2%;
}

.form-control {
    margin-right: 0.25%;
}

.form-check-inline {
    margin-top: 2%; 
    margin-left: 7%;
}

.button-space {
    margin-left: 500px;
}

.check-space {
    padding-right: 50px;
}

.navbar-right{
    margin-left: 70%;
}

.navbar-btn {
    padding: 10px,20px;
    width: 150px;
    text-align: center;
}

.navbar-left{
    margin-top: 10px;
    margin-left: 5%;
}

.total{
    margin-top: 10px;
}

.btn-sample { 
    color: #ffffff; 
    background-color: #611BBD; 
    border-color: #130269; 
  } 

  .mini-describe{
      font-size: 1em;
  }

  .bottom-margin{
      margin-bottom: 100px;
  }
