
a {
    color: #b71a4c;
}
.front-indicator {
    width: 135px;
    margin: 5px 32px 15px 32px;
    background-color: #f6f6f6;	
    color: #adadad;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.booking-details {
    float: left;
    text-align: left;
    margin-left: 35px;
    font-size: 12px;
    position: relative;
    height: 401px;
}
.booking-details h2 {
    margin: 25px 0 20px 0;
    font-size: 17px;
}
.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 14px;
}
div.seatCharts-cell {
    color: #182C4E;
    height: 25px;
    width: 25px;
    line-height: 25px;
    
}
div.seatCharts-seat {
    color: #FFFFFF;
    cursor: pointer;	
}
div.seatCharts-row {
    height: 35px;
    width: 400px;
}
div.seatCharts-seat.available {
    background-color: #91D7CA;
}
div.seatCharts-seat.available.first-class {
    background-color: #F496B5;
    color: #ffffff;
    border-color: #F496B5;
    border-style: solid;
    border-width: 1px;
}

div.seatCharts-seat.available.business-class {
    background-color: #BD70CF;
    color: #ffffff;
    border-color: #BD70CF;
    border-style: solid;
    border-width: 1px;
}

div.seatCharts-seat.focused {
    background-color: #FFB1D3;
}
div.seatCharts-seat.selected {
    background-color: #69BFD8;
}
div.seatCharts-seat.unavailable {
    background-color: transparent;
    color: #F496B5;
    border-color: #F496B5;
    border-style: solid;
    border-width: 1px;
}
div.seatCharts-container {
    border-right: 1px dotted #adadad;
    padding: 20px;
    float: left;
}
div.seatCharts-legend {
    padding-left: 0px;
    position: absolute;
    bottom: 16px;
}
ul.seatCharts-legendList {
    padding-left: 0px;
}
span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
}
.checkout-button {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}
#selected-seats {
    max-height: 90px;
    overflow-y: scroll;
    overflow-x: none;
    width: 170px;
}